.chat-data {
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid silver;
  font-weight: bold;
}

.chat-message {
  border-radius: 8px;

  background-color: #00000088;

  margin: 6px;

  margin-left: 0px;
  margin-right: 100px;
}

.chat-message-local {
  background-color: #ffffff88;

  margin-left: 100px;
  margin-right: 6px;
}

.sender-name {
  display: block;

  color: #ffffff55;

  font-size: 14px;
  /* margin-left: 16px; */

  margin: 0px;
  padding: 6px 0px 0px 16px;
}

.message-content {
  display: block;

  color: #ffffff;

  /* font-weight: bold; */
  font-size: 20px;
  line-height: 100%;

  padding: 0px 8px 8px 8px;
}

.message-content-local {
  padding: 8px 8px 8px 8px;
  color: #000000;
}
